@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.staff-input {
  flex: 3;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: calc(12px + 0.7vw);
    line-height: 23px;
  }
  &__upper {
    flex: 3;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    &__guide {
      flex: 4;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__selection {
      flex: 6;
      height: 100%;
    }
  }
  &__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 7;
    &__list {
      display: flex;
      justify-content: 'center';
      flex-wrap: 'wrap';
      background-color: #f5f5f5;
      padding: 0.5rem;
      flex: 9;
      height: 80%;
      margin: 0.8rem;
      border-radius: 0.3rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
