@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$mainColor: #73d6ca;

@media (max-width: 2048px) {
  .BookingContainer {
    font-family: 'Quicksand', sans-serif;
    width: auto;
    &-title {
      h1 {
        height: 5%;
        padding-top: 5vmax;
        font-size: calc(20px + 0.7vw);
        margin-bottom: 0rem;
        text-align: center;
      }
    }
    &-content {
      padding-top: 5vh;
      padding-bottom: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      &__introduction {
        width: 45%;
        border-radius: 10px;
      }
      &__bookingCalendar {
        width: 45%;
        background-color: #ffffff;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 600px) {
  .BookingContainer {
    padding-left: 0;
    padding-right: 0;
    &-content {
      padding-top: 2vh;
      padding-bottom: 8vh;
      padding-left: 7%;
      padding-right: 7%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__introduction {
        width: 100%;
      }
      &__bookingCalendar {
        width: 85%;
      }
    }
  }
}
