@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$mainColor: #73d6ca;
$disabledColor: #c5c5c5;

.IntroductionContainer {
  &-title {
    h2 {
      font-size: calc(15px + 0.7vw);
      font-family: 'Quicksand', sans-serif;
      font-weight: 500;
      padding-top: 2vh;
      padding-bottom: 2vh;
    }
  }
  &-content {
    padding-left: 5%;
    padding-right: 5%;
    font-size: calc(6px + 0.7vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    &--01 {
      width: 100%;
      display: flex;
      flex-direction: row;
      &__icon {
        width: 10%;
      }
      &__text {
        width: 90%;
      }
    }
    &--02 {
      width: 100%;
      display: flex;
      flex-direction: row;
      &__icon {
        width: 10%;
      }
      &__text {
        width: 90%;
      }
    }
    &--03 {
      width: 100%;
      display: flex;
      flex-direction: row;
      &__icon {
        width: 10%;
      }
      &__text {
        width: 90%;
      }
    }
  }
}
