@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.user-information {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  h2 {
    color: #73d6ca;
    font-size: calc(15px + 0.7vw);
  }
  .selection {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .button {
    background-color: #73d5ca;
    color: white;
    margin-top: 1rem;
  }
}

@media (max-width: 900px) {
  .user-information {
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    h2 {
      color: #73d6ca;
      font-size: calc(15px + 0.7vw);
    }
    .selection {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    .button {
      background-color: #73d5ca;
      color: white;
      margin-top: 1rem;
    }
  }
}