@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 70%;
}
.add-form {
  font-family: 'Quicksand', sans-serif;
  height: auto;
  padding: 1rem;
}
