@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.treatment-container {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 5vmax;
  h1 {
    padding-top: 5vmax;
    font-size: calc(20px + 0.7vw);
    margin-bottom: 0rem;
  }
  h2 {
    font-size: calc(15px + 0.7vw);
    padding-top: 2rem;
  }
  h3 {
    font-size: calc(10px + 0.7vw);
    padding-top: 1rem;
    margin-bottom: -1rem;
  }
  td {
    font-size: calc(5px + 0.7vw);
    margin: 5%;
    padding: 0;
  }
}

.card-outter {
  position: relative;
  width: 50vw;
  height: 30vh;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2vmax;
  &__card-left {
    width: 50%;
    height: 90%;
    background-color: white;
    z-index: 2;
    position: absolute;
    opacity: 0.7;
    top: 5%;
    left: 5%;
    border-radius: 0.5rem;
  }
  &__card-right {
    width: 50%;
    height: 90%;
    background-color: white;
    z-index: 2;
    position: absolute;
    opacity: 0.7;
    top: 5%;
    left: 45%;
    border-radius: 0.5rem;
  }
  &__picture-left {
    width: 50%;
    height: 100%;
    background-color: purple;
    z-index: 1;
    position: absolute;
    left: 5%;
    border-radius: 0.5rem;
  }
  &__picture-right {
    width: 50%;
    height: 100%;
    background-color: red;
    z-index: 1;
    position: absolute;
    left: 45%;
    border-radius: 0.5rem;
  }
  &__details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }
}

.card-img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

@media (max-width: 1024px) {
  .card-outter {
    position: relative;
    width: 90%;
    height: 25vh;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2vmax;
    &__card-left {
      width: 50%;
      height: 90%;
      background-color: white;
      z-index: 2;
      position: absolute;
      opacity: 0.8;
      top: 5%;
      left: 5%;
      border-radius: 0.5rem;
    }
    &__card-right {
      width: 50%;
      height: 90%;
      background-color: white;
      z-index: 2;
      position: absolute;
      opacity: 0.8;
      top: 5%;
      left: 45%;
      border-radius: 0.5rem;
    }
    &__picture-left {
      width: 50%;
      height: 100%;
      background-color: purple;
      z-index: 1;
      position: absolute;
      left: 5%;
      border-radius: 0.5rem;
    }
    &__picture-right {
      width: 50%;
      height: 100%;
      background-color: red;
      z-index: 1;
      position: absolute;
      left: 45%;
      border-radius: 0.5rem;
    }
    &__details {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5%;
    }
  }

  .card-img {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
}

@media (max-width: 500px) {
  .treatment-container {
    td {
      font-size: calc(6px + 0.7vw);
      margin: 5%;
      padding: 0.2rem;
    }
  }
}

@media (max-width: 350px) {
  .treatment-container {
    h3 {
      font-size: calc(6px + 0.7vw);
      padding-top: 1rem;
      margin-bottom: -1rem;
    }
    td {
      font-size: calc(5px + 0.7vw);
      margin: 5%;
      padding: 0.2rem;
    }
  }
}
