@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.popupContainer {
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #ffffff 2px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1000;
  background-color: #f5f5f5;
  border-radius: 10px;
  &-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    p {
      font-family: 'Quicksand', san-serif;
      color: #c5c5c5;
      margin: 0;
      position: relative;
      top: 2px;
      font-size: 2rem;
      vertical-align: baseline;
      text-shadow: 1px 1px 1px #fff, -1px -1px 1px #000000;
    }
  }
  &-body {
    &__form {
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      border-radius: 8px;
      input {
        font-size: 1rem;
      }
      &--01 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &--02 {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &--03 {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &--04 {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    &--01 {
      padding-top: 2rem;
      p {
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        font-family: 'Quicksand', san-serif;
        color: #c5c5c5;
        margin: 0;
        text-shadow: 1px 1px 1px #fff, -1px -1px 1px #000000;
      }
      h4 {
        font-size: 1rem;
        position: relative;
        margin: 0;
        top: 2px;
      }
    }
    &--02 {
      padding-top: 1rem;
      padding-bottom: 1rem;
      button {
        background-color: #73d5ca;
      }
      button:hover {
        background-color: #ffffff;
        color: #73d5ca;
        border-color: #73d5ca;
      }
    }
  }
}
