@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$mainColor: #73d6ca;
$disabledColor: #c5c5c5;

* {
  text-decoration: none;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar__viewContainer {
  height: 70%;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.react-calendar button {
  margin-bottom: 0.3vh;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  border-radius: 7px;
  font-size: 1.5vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  &__label {
    height: 100%;
    color: $mainColor;
    font-weight: 400 !important;
  }
  &__label:hover {
    background: $mainColor;
    color: #ffffff;
  }
}

.react-calendar__navigation button {
  background-color: #ffffff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: $mainColor;
  border-radius: 7px;
}

.react-calendar__navigation button[disabled] {
  color: $disabledColor;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.9vw;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.4vw;
}

.react-calendar__month-view__weekNumbers {
  font-weight: 100;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6vw;
}

.react-calendar__month-view__days__day--weekend {
  color: #f1a5ab;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0.2vw 0.2vh;
}

.react-calendar__tile {
  width: 1%;
  height: 1%;
  text-align: center;
  padding: 1% 1%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.react-calendar__tile:disabled {
  background-color: #f5f5f5;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: $mainColor;
  color: #ffffff;
}

.react-calendar__tile--now {
  background-color: #f0ba60 !important;
  border: 1px solid #f0ba60;
  color: #000000;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: $mainColor;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: $mainColor;
  color: #ffffff;
}

.react-calendar__tile--active {
  background: $mainColor;
  color: #000;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: $mainColor;
  color: #000;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f5f5f5;
}
