@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.date {
  display: flex;
  align-items: center;
  width: 50%;
  font-family: 'Quicksand', sans-serif;
  padding-left: 5%;
  font-size: calc(3px + 1vw);
}
