@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
$mainColor: #73d6ca;

.TopNavigationBar {
  width: 100%;
  height: 100%;
  &__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    a {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      color: #000000;
      width: 60%;
      font-size: 2.1vh;
      padding-bottom: 0.5vh;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
      margin-left: 1.5vw;
      margin-right: 1.5vw;
    }
    a:hover {
      text-decoration: none;
      border-bottom: 1.5px solid #000000;
      transition: 0.2s ease-in-out;
      transform: translateX(-0.2vh);
      padding-bottom: 0.7vh;
    }
    a:focus {
      transform: translateX(-0.2vh);
      border-bottom: 1.5px solid $mainColor;
      font-weight: 500;
    }
  }
}
