@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.contact-us {
  background-color: #f5f5f5;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10vmax;
  font-family: 'Quicksand', sans-serif;
  h1 {
    padding-top: 5vmax;
    font-size: calc(20px + 0.7vw);
    margin-bottom: 0rem;
    text-align: center;
  }
  h2 {
    color: #73d6ca;
    font-size: calc(15px + 0.7vw);
    padding-top: 0.5rem;
  }
  p {
    font-size: calc(10px + 0.7vw);
  }
  &__center {
    text-align: center;
  }
  &__middle-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  &__map-section {
    margin: 1rem;
    background-color: #ffffff;
    width: 400vm;
    height: 30vh;
  }
}

.details {
  background-color: #ffffff;
  width: auto;
  min-width: 250px;
  height: auto;
  flex: 1;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  &__icons {
    color: #73d5ca;
    font-size: '2vw';
    &__phone {
      margin-right: 1rem;
      color: #73d5ca;
    }
  }
}

.form {
  background-color: #ffffff;
  width: auto;
  min-width: 250px;
  height: auto;
  flex: 1;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: #73d5ca;
    font-size: calc(25px + 0.7vw);
    text-align: center;
  }
  .submit-button {
    background-color: #73d5ca;
    color: white;
    margin-top: 1rem;
  }
}