@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-staff {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  thead {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(8px + 1vw);
    font-weight: 400;
    color: #808080;
    padding-top: 1rem;
  }
  tbody {
    height: 80%;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: white;
  }
  th {
    font-size: calc(10px + 0.7vw);
  }
  tr {
    margin: 1rem;
    background-color: white;
  }
  td {
    font-size: calc(8px + 0.7vw);
    background-color: white;
  }
  &__staff {
    background-color: white;
    display: flex;
    height: 5vh;
    align-items: center;
    &__colour {
      width: calc(8px + 1vw);
      height: calc(8px + 1vw);
      border-radius: 50%;
      margin-right: 1vw;
    }
  }
}
