@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.schedule-container {
  width: 98%;
  margin: 1rem;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fafafa;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #73d5ca;
    color: white;
  }
  th:first-child {
    border-top-left-radius: 0.5rem;
  }
  th:last-child {
    border-top-right-radius: 0.5rem;
  }
  tr {
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__available-staff-header {
    flex: 9;
    font-size: calc(10px + 0.7vw);
  }
  &__available-staff {
    flex: 9;
    display: flex;
    flex-direction: row;
    &__staffName {
      padding: 0 1rem;
    }
  }
  &__date {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 0.7vw);
  }
}
.td-name {
  font-size: calc(6px + 0.7vw);
}
